

/* The side navigation menu */
.sidebar {
  height:100%;
  width: 200px;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  top: 0px;
  background-color: #BDBDBD;
}



/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}



/* Active/current link */
.sidebar a.active {
  background-color: #003B6D;
  color: white;
}



/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #6699CC;
  color: white;
}



/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}



body {
  background-color: #d9e6f2;
}



h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 900; 
  color: #333333;
}

h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 300; 
  color: #333333;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px; 
  font-weight: 300; 
  color: #333333;
}

img {
  border-radius:25px;
  width: 100%; 
  height: auto; 
}






/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1024px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}


h1 {
  font-size:33px;
}

h2 {
  font-size:20px;
}

h4 {
  font-size:18px;
}

}






/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 425px) {
  .sidebar a {
    text-align: center;
    float: none;
  }


h1 {
  font-size:22.5px;
}

h2 {
  font-size:12px;
}

h4 {
  font-size:15px;
}


}